.contenedor{
    height: 1500px;
    width: 400px;
    margin-left: 50%;
    background-color: aquamarine;
    transform: translateX(-50%) translateY(300px);
    border: 2px dashed blue;
}

.contenedor-chico{
    height: 200px;
    width: 400px;
    background-color: rgba(0,0,200,.8);
    position: fixed;
    /* opacity: 0; */
    /* top:50px;
    left: 20px; */
    /* right: 20px;
    bottom: 20px; */
}